@mixin header() {
  font-family: $primaryFont;
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  color: $primaryColor;
  letter-spacing: 1.2;
}

@mixin subHeading() {
  font-family: $primaryFont;
  font-size: 50px;
  color: $primaryColor;
}

@mixin headingh3() {
  font-family: $primaryFont;
  font-size: 30px;
  color: $primaryColor;
}

@mixin para() {
  font-family: $secondaryFont;
  line-height: 2;
  letter-spacing: 1;
  font-size: 20px;
  color: $secondaryColor;
}

@mixin footer() {
  font-family: $secondaryFont;
  font-size: 25px;
  color: $primaryColor;
}
