@import "setup";
@import "variable";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background: rgb(112, 141, 169);
  color: #fff;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

section {
  padding: 30px 0;
}

img {
  width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

// CSS Styling goes here

button {
  height: auto;
  display: inline-block;
}

i {
  width: 30%;
}

h3 {
  display: none;
}

// Header

h1 {
  @include header();
  animation: text-shadow-drop-bl 0.6s both;
  font-size: 70px;
}

@keyframes text-shadow-drop-bl {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: -6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}

// Footer

.footerContainer a {
  width: 8%;
}
